<div class="music">
<section class="main">
	<div class="container">
		<header>
			<h1>Midtown Brass Quintet</h1>
		</header>
		<%= image_tag "bq.jpg" %>
		<%= link_to "Midtown Brass Quintet", 'http://www.midtownbrassquintet.com' %>
	</div>
</section>

<section class="main">
	<div class="container">
		<header>
			<h1>Kazanetti String Quartet</h1>
		</header>
		<%= image_tag "sq.png" %>
		<%= link_to "Kazanetti String Quartet", 'http://www.kazanetti.com' %>
	</div>
</section>

<section class="main">
	<div class="container">
		<header>
			<h1>Amy Little, Soprano</h1>
		</header>
		<%= image_tag "sop.jpg" %>
		<%= link_to "Amy Little", 'http://www.amylittle.com' %>
	</div>
</section>

<section class="main">
	<div class="container">
		<header>
			<h1>Nathan Munson, Tenor</h1>
		</header>
		<%= image_tag "ten.00_jpg_srz" %>
		<%= link_to "Nathan Munson", 'http://www.nathan-munson.com' %>
	</div>
</section>
</div>