<section class="main">
  <div class="container">
    <header>
      <h1>Contact Us</h1>
    </header>
    <%= form_for @contact_form, url: contact_us_path do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <strong>This form has been disabled</strong> 
    <% end %>
  </div>
</section>
