<nav class="main-nav">
		<%= link_to "When", root_path(anchor: "when"), id: 'when-link', class: 'js-link' %>
		<%= link_to "Where", root_path(anchor: "where"), id: 'where-link',  class: 'js-link' %>
		<%= link_to "How", root_path(anchor: "how"), id: 'how-link',  class: 'js-link' %>
		<%= link_to "Registry", root_path(anchor: "registry"), id: 'registry-link',  class: 'js-link' %>
    <%= link_to "RSVP", invitations_path %>
    <%= link_to "Program", program_path %>
    <%= link_to "Pictures", pictures_path %>
</nav>