<%# 
	locals: 
		f - form context
		attendee - attendee to be displayed
%>

<div class='attendee' id='<%= attendee.id %>'>
	<h3>Attendee</h3>
	<%= f.hidden_field :id %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>

	
	<p><a href='#' class='attendee-remove'>Remove the above atendee</a></p>
</div>
		