<section class="main">
	<div class="container">
		<header>
			<hgroup>
				<h1>List of Attendees</h1>
				<h2>Attending: <%= @number_attending %></h2>
				<h2>Vegetarians: <%= @number_vegetarian %></h2>
			</hgroup>
		</header>
		<ul>
			<% @attendees.each do |atnd| %>
			<% atnd.attending ? is_atnd = "attending" : is_atnd = "not_attending" %>
			<% atnd.vegetarian ? is_veg = "broccoli.jpeg" : is_veg = ""%>
			<li class="<%= is_atnd %>"><%= link_to atnd.name, attendee_path(atnd) %> 
				<% if atnd.vegetarian %>
					<%= image_tag "broccoli.jpg", options = { alt: "I'm a vegetarian" } %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</section>
		